hr {
    border: 1.5px solid;
}

a {
    color: #2698c2;
    font-weight: 400;
}

.btn-or {
    background-color: #33b5e5;
    color: white;
}

.btn-or-add {
    background-color: #33b5e5;
    color: white;
    border: none;
    outline: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

p {
    text-align: justify;
    font-size: 1em;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 2 0 60%;
        max-width: 92%;
    }
}