<div class="row">
    <div class="col-lg-12 col-md-6 col-xd-12 mx-auto">
        <div class="jumbotron p-0">

            <!-- Card content -->
            <div class="card-body text-center mb-3 heavy-rain-gradient" *ngIf="club">

                <!-- Title -->
                <h3 class="card-title h3 my-4 blue-text"><strong>Club {{club.nom}}  </strong></h3>
                <!-- Text -->
                <p class="card-text text-center
                text-center py-2">Some quick example text to build on the card title and make up the bulk of the card's</p>
                <!-- Button -->
                <a href="#" class="btn btn-or
                btn-rounded mb-4">Plus d'info</a>

            </div>

        </div>
        <hr class="border-info">

        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb blue-text">
                <li class="breadcrumb-item"><a routerLink="" routerLinkActive="">Acceuil</a></li>
                <li class="breadcrumb-item"><a routerLink="/clube-sports" routerLinkActive="">Sports</a></li>
            </ol>
        </nav>

        <div class="d-flex justify-content-end">
            <button routerLink="/add-sport" class="btn btn-or
            btn-rounded px-5 my-3">
                <i class="fa fa-plus mr-3" aria-hidden="true"></i>Spport
    </button>
        </div>
        <app-list-sports></app-list-sports>
    </div>
</div>

<!-- Jumbotron -->