a {
    color: #2698c2;
    font-weight: 400;
}

th {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    tr td {
        vertical-align: middle !important;
    }
    tr span:not([class]) {
        padding: 1rem 1rem;
    }
}