<!-- Sidebar Start -->
<mat-nav-list class="wrapper" id="sidebar-wrapper">
    <!-- Admin profile Start -->
    <div class="profile-card pb-5  pt-4 bg-info">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="">
        <div class="header">
            <h6 class="h5 text-white">full name</h6>
            <h6 class="text-center text-white font-smaller">Admin</h6>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- Admin profile -->

    <!-- Sidebar list Start -->
    <ul class="sidebar-nav justify-content-center mt-5">
        <mat-divider></mat-divider>
        <li>
            <!-- dashboard -->
            <a mat-list-item routerLinkActive="" routerLink="/">Acceuil</a>
        </li>
        <mat-divider></mat-divider>

        <li>
            <a mat-list-item routerLinkActive="" routerLink="/clube-sports">Club</a>
        </li>
        <mat-divider></mat-divider>

        <li>
            <a mat-list-item routerLinkActive="" routerLink="/athletes">Athelètes</a>
        </li>
        <mat-divider></mat-divider>

        <li>
            <a mat-list-item routerLinkActive="" routerLink="">Compétitions</a>
        </li>
        <mat-divider></mat-divider>
    </ul>
</mat-nav-list>
<!-- Sidebar list End -->
<!-- Sidebar End -->